<div class="card border-success my-2">
  <div class="card-header text-white">
    <h5><i class="far fa-chart-bar mr-3"></i>Stats</h5>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <i class="fas fa-images mr-1"></i>Images:
        <span class="badge badge-primary badge-pill">{{sidebar.stats.images}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <i class="fas fa-comments mr-1"></i>Comments:
        <span class="badge badge-primary badge-pill">{{sidebar.stats.comments}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <i class="fas fa-eye mr-1"></i>Images all views:
        <span class="badge badge-primary badge-pill">{{sidebar.stats.imagesAllViews}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <i class="fas fa-heart mr-1"></i>Images all likes:
        <span class="badge badge-primary badge-pill">{{sidebar.stats.imagesAllLikes}}</span>
      </li>
    </ul>
  </div>
</div>